
.darkTheme {
    background-color: #111;
    color: #fff;
    transition: 0.5s ease;
}

.color p {
    color: #b0b0b0;
}

.bag {
    background: none;
}

 nav .cards {
    transform: translateY(10%);
    transition: 0.5s ease;
    opacity: 1;
    filter: blur(0);
    height: 210px;
    width: 170px;
}


.card p {
    font-size: 12px;
    margin: 10px;
    color: #0c0c0c;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 400;
}

.card p:hover {
    color: #0c0c0c;
    background-color: #fff;
}

.icon {
    transform: rotateX(170deg);
    transition: 0.5s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transform: translateX(15px);
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.top-nav {
    transform: translateY(0);
}